<footer class="usa-footer usa-footer--slim">
  <div class="usa-footer__secondary-section">
    <div class="grid-container">
      <div class="usa-footer__logo grid-row grid-gap-2">
        <div class="grid-col-auto">
          <img
            class="usa-footer__logo-img"
            src="/assets/img/gsa-logo.png"
            alt=""
          />
        </div>
        <div class="grid-col-auto">
          <p class="usa-footer__logo-heading">Technology Transformation Service | GSA</p>
        </div>
      </div>
    </div>
  </div>
</footer>