---
layout: layout.njk
---
{%- from "component.njk" import component -%}
<div class="grid-container">
  <h1>{{ title }}</h1>
  {% include 'components/usa-step-indicator.njk' %}
  {{ content | safe }}
</div>
