{%- from "system/component.njk" import component -%}

<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"><!-- Grab title from the page data and dump it here -->
  <link rel="stylesheet" href="{{ config.baseUrl }}assets/scss/main.css" media="all" type="text/css">

  <title>{{ title }}</title>
</head>

<body {{ 'class=no-js' if page.url != "/" }}>
  {% include 'header.njk' %}
  <main id="main-content">
  {{ content | safe }}
  {% block content %}{% endblock %}
  </main>
  {% include 'footer.njk' %}
  <script>const runningInCi = {{ config.IN_CI }}</script>
  <script>const baseUrl = "{{ config.baseUrl }}"</script>
  <script src="{{ config.baseUrl }}assets/js/app.js" type="text/javascript"></script>
  <script src="{{ config.baseUrl }}assets/js/auth.js" type="text/javascript"></script>  
</body>
</html>
