<a class="usa-skipnav" href="#main-content">Skip to main content</a>
{% include './usa-banner.njk' %} 
  <div class="usa-overlay"></div>
<header class="usa-header usa-header--basic">
  <div class="usa-nav-container">
    <div class="usa-navbar">
      <div class="usa-logo" id="basic-logo">
        <em class="usa-logo__text">
          <a href="javascript:void(0)" title="&lt;Project title&gt;">
            {{ global.site_name }}
          </a>
        </em>
      </div>
      <button class="usa-menu-btn">Menu</button>
    </div>
    <nav aria-label="Primary navigation" class="usa-nav">
      <button class="usa-nav__close">
        <img src="/assets/img/usa-icons/close.svg" role="img" alt="Close" />
      </button>
      <ul class="usa-nav__primary usa-accordion">
        {% for section in global.navigation.primary %}
          {% if section.links %}

            <li class="usa-nav__primary-item">
              <button
                class="usa-accordion__button usa-nav__link usa-current"
                aria-expanded="false"
                aria-controls="basic-nav-section-one"
              >
              <span>{{ section.text }}</span>
              </button>

              <ul id="basic-nav-section-one" class="usa-nav__submenu">
                {% for link in section.links %}
                  <li class="usa-nav__submenu-item">
                    <a href="{{ link.href }}">{{ link.text }}</a>
                  </li>
                {% endfor %}
              </ul>
            </li>
          {% elif section.href %}
            <li class="usa-nav__primary-item">
              <a href="{{ section.href }}" class="usa-nav__link">
                <span>{{ section.text }}</span>
              </a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>

      <form class="usa-search usa-search--small" role="search">
        <label class="usa-sr-only" for="basic-search-field-en-small">
          Search
        </label>
        <input
          class="usa-input"
          id="basic-search-field-en-small"
          type="search"
          name="search"
        />
        <button class="usa-button" type="submit">
          <img
            src="/assets/img/usa-icons-bg/search--white.svg"
            class="usa-search__submit-icon"
            alt="Search"
          />
        </button>
      </form>
    </nav>
  </div>
</header>
<main id="main-content"></main>
