  <section class="usa-hero" aria-label="Introduction">
    <div class="grid-container">
      <h1 class="usa-hero__heading">{{ hero.callout.text }}</h1>
      <p>{{ hero.content | safe }}</p>
      <div class="usa-button-group">
        <a class="usa-button" href="{{ hero.buttons.primary.href }}">
          {{ hero.buttons.primary.text }}
        </a>
        <a class="usa-button usa-button--outline" href="{{ hero.buttons.secondary.href }}">
          {{ hero.buttons.secondary.text }}
        </a>
      </div>
    </div>
  </section>
