<div class="usa-radio">
  <input
    class="usa-radio__input"
    id="{{ params.id }}"
    name="{{ params.group }}"
    value="{{ params.value }}"
    type="radio"
  />
  <label class="usa-radio__label" for="{{ params.id }}">
    {{ params.label }}
  </label>
</div>
