<div
  class="usa-modal usa-modal--lg"
  id="{{ params.id }}"
  aria-labelledby="{{ params.id }}-heading"
  aria-describedby="{{ params.id }}-description"
>
  <div class="usa-modal__content">
    <div class="usa-modal__main">
      <h2 class="usa-modal__heading" id="{{ params.id }}-heading">
        {{ params.heading }}
      </h2>
      <div id="{{ params.id }}-description">
        {{ params.description | safe }}
      </div>
      <div class="usa-modal__footer">
        <ul class="usa-button-group">
          <li class="usa-button-group__item">
            <button type="button" class="usa-button {{ params.continueButton.class }}" id="{{ params.continueButton.id }}" data-close-modal>
              {{ params.continueButton.text }} 
            </button>
          </li>
          <li class="usa-button-group__item">
            <button
              type="button"
              class="usa-button usa-button--unstyled padding-105 text-center"
              data-close-modal
            >
              {{ params.backButtonText }}
            </button>
          </li>
        </ul>
      </div>
    </div>
    <button
      class="usa-button usa-modal__close"
      aria-label="Close this window"
      data-close-modal
    >
      <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
        <use xlink:href="{{ config.baseUrl }}assets/img/sprite.svg#close"></use>
      </svg>
    </button>
  </div>
</div>