  <label class="usa-label" for="{{ params.id }}">
    {{ params.label }}
    {%- if params.required -%}
      <abbr title="required" class="usa-hint usa-hint--required">*</abbr>
    {%- endif -%}
  </label>
  <select class="usa-select" name="options" id="{{ params.id }}">
    <option value>- Select -</option>
    {%- for o in params.options -%}
      <option value="{{ o.value }}">{{ o.label }}</option>
    {%- endfor -%}
  </select>