<ol class="usa-process-list">
  {% for step in params.steps %}
    <li class="usa-process-list__item">
      <h{{params.heading_level}} class="usa-process-list__heading">{{ step.heading }}</h{{ params.heading_level}}>
      <p>{{ step.body }}</p>
      {{ step.action | safe if step.action }}
    </li>
  {% endfor %}
</ol>