<div class="usa-radio">
  <input
    class="usa-radio__input"
    id="{{ params.id }}"
    name="{{ params.group }}"
    value="{{ params.value }}"
    type="radio"
    {% if params.required %}
      aria-required="true"
      required
    {% endif %}
    {% for v in params.validations %}
      data-validate-{{v.operation}}="{{v.constraint}}"
    {% endfor %}
  />
  <label class="usa-radio__label" for="{{ params.id }}">
    {{ params.label }}
  </label>
  {%- if params.errorMessage -%}
    <span class="usa-error-message">{{ params.errorMessage }}</span>
  {%- endif -%}
</div>
