<div class="usa-table-container">
  <table class="usa-table">
    <caption></caption>
    <thead>
      <tr>
        {%- for h in params.headers -%}
          <th data-sortable scope="col" role="columnheader">{{ h.title }}</th>
        {%- endfor -%}
      </tr>
    </thead>
    <tbody>
      {%- for row in params.data -%}
        <tr>
          {%- for key, item in row -%}
            <td data-sort-value={{ item }}>{{ item }}</td>
          {%- endfor -%}
        </tr>
      {%- endfor -%}
    </tbody>
  </table>
  <div class="usa-sr-only usa-table__announcement-region" aria-live="polite"></div>
</div>