<div class="usa-table-container--scrollable" tabindex="0">
  <table id="{{ params.id }}" class="usa-table">
    <caption>
      My unpublished audit submission list
    </caption>
    <thead>
      <tr>
        <th 
          data-sortable
          scope="col"
          role="columnheader"
          aria-sort="descending"
        >
          Report ID
        </th>
        <th data-sortable scope="col" role="columnheader">
          Status
        </th>
        <th data-sortable scope="col" role="columnheader">
          Auditee <a class="usa-link" href="javascript:void(0);" data-open-modal>UEI</a>
        </th>
        <th data-sortable scope="col" role="columnheader">
          Auditee name
        </th>
        <th data-sortable scope="col" role="columnheader">
          Fiscal year end date
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th class="text-center" scope="row" role="rowheader" colspan="5">Retrieving data.</th>
      </tr>
    </tbody>
  </table>
  <div
    class="usa-sr-only usa-table__announcement-region"
    aria-live="polite"
  ></div>
</div>