<div
  class="usa-summary-box"
  role="region"
  aria-labelledby="{{ params.id }}-summary-box-key-information"
>
  <div class="usa-summary-box__body">
    <h3 class="usa-summary-box__heading" id="{{ params.id }}-summary-box-key-information">
      {{ params.heading }}
    </h3>
    <div class="usa-summary-box__text">
      <ul class="usa-list">
        {% for i in params.items %}
        <li>
          {{ i.content | safe }}
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>