<div class="usa-form-group">
  <label class="usa-label" id="{{ params.id }}-label" for="{{ params.id }}">
    {{ params.label | safe }}
    {%- if params.required -%}
      <abbr title="required" class="usa-hint usa-hint--required">*</abbr>
    {%- endif -%}
  </label>
  <div class="usa-hint" id="{{ params.id }}-hint">mm/dd/yyyy</div>
  <div class="usa-date-picker">
    {% if params.validations %}
    <ul class="usa-error-message"
      id="{{ params.id }}-error-message"
      role="alert"
      >
      {% for v in params.validations %}
        <li
          id="{{ params.id }}-{{ v.operation }}"
          hidden
          >
          {{ v.error_message }}
        </li>
      {% endfor %}
    </ul>
    {% endif %}
    <input
      class="usa-input"
      id="{{ params.id }}"
      name="{{ params.id }}"
      aria-labelledby="{{ params.id }}-label"
      aria-describedby="{{ params.id }}-hint"
      {% if params.required %}
        aria-required="true"
        required
      {% endif %}
      {% for v in params.validations %}
        data-validate-{{v.operation}}="{{v.constraint}}"
      {% endfor %}
    />
  </div>
</div>
