<div class="usa-alert usa-alert--{{ params.type }}" role="alert">
  <div class="usa-alert__body">
    <h4 class="usa-alert__heading">{{ params.heading }}</h4>
    <p class="usa-alert__text">
      {{ params.text }}
    </p>
  </div>
</div>
