  <div class="usa-checkbox">
    {% if params.validations %}
      <span class="usa-error-message"
        id="{{ params.id }}-error-message"
        role="alert"
        >
        {% for v in params.validations %}
          <span
            id="{{ params.id }}-{{ v.operation }}"
            hidden
            >
            {{ v.error_message }}
          </span>
        {% endfor %}
      </span>
    {%- endif -%}
    <input
      class="usa-checkbox__input"
      id="{{ params.id }}"
      data-cy="{{ params.cypress_selector }}"
      type="checkbox"
      name="{{ params.name }}"
      value="{{ params.value }}"
      {%- if params.checked -%}
        checked="{{ params.checked }}"
      {%- endif -%}
      {% for v in params.validations %}
        data-validate-{{v.operation}}="{{v.constraint}}"
      {% endfor %}
    />
    <label class="usa-checkbox__label" for="{{ params.id }}">
      {{ params.label }}
      {% if params.required %}
        <abbr title="required" class="usa-hint usa-hint--required">*</abbr>
      {% endif %}
    </label>
  </div>