  <ul class="usa-sidenav">
    {%- for l in params.links -%}
      <li class="usa-sidenav__item">
        <a href="{{ l.href }}" {% if l.current %}class="usa-current"{% endif %}>{{ l.text }}</a>
        {%- if l.links -%}
          <ul class="usa-sidenav__sublist">
            {%- for i in l.links -%}
              <li class="usa-sidenav__item">
                <a href="{{ i.href }}">{{ i.text }}</a>
                {%- if i.links -%}
                  <ul class="usa-sidenav__sublist">
                    {%- for n in i.links -%}
                      <li class="usa-sidenav__item">
                        <a href="{{ n.href }}">{{ n.text }}</a>
                      </li>
                    {%- endfor -%}
                  </ul>
                {%- endif -%}
              </li>
            {%- endfor -%}
          </ul>
        {%- endif -%}
      </li>
    {%- endfor -%}
  </ul>