<div
  class="usa-step-indicator usa-step-indicator--counters-sm"
  role="progressbar"
  aria-label="Form progress"
  aria-valuemin="1"
  aria-valuemax={{ params.totalSteps }}
  aria-valuenow={{ params.currentStep }}
>
  <ol class="usa-step-indicator__segments">
    {{
      component('usa-step-indicator-segment', {
        label: 'Submission criteria check',
        current: params.currentStep == 1
      })
    }}
    {{
      component('usa-step-indicator-segment', {
        label: 'Auditee information',
        current: params.currentStep == 2
      })
    }}
    {{
      component('usa-step-indicator-segment', {
        label: 'Audit submission access',
        current: params.currentStep == 3
      })
    }}
    {{
      component('usa-step-indicator-segment', {
        label: 'Create new audit',
        current: params.currentStep == 4
      })
    }}
  </ol>
</div>
