<div class="usa-form-group">
  <label class="usa-label" for="{{ params.id }}">
    {{ params.label }}
    {% if params.required %}
      <abbr title="required" class="usa-hint usa-hint--required">*</abbr>
    {% endif %}
  </label>
  {% if params.errorMessage %}
  <span class="usa-error-message" id="{{ params.id }}-error-message" role="alert">
    {{params.errorMessage}}
  </span>
  {% endif %}
  <input
    class="usa-input"
    id="{{ params.id }}"
    name="{{ params.id }}"
    {# TODO: move this to JS
    aria-describedby="{{ id }}-error-message"
    #}
  />
</div>
