---
title: Create new audit

inputs:
  - id: auditee_ueid
    label: Auditee Unique Entity Identifier (UEI)
    required: true
    field_type: text

  - id: confirm_auditee_ueid
    label: Re-enter Auditee Unique Entity Identifier (UEI)
    required: true
    field_type: text

  - id: auditee_name
    label: Auditee name
    required: true
    field_type: text

  - id: auditee_fy_start_date
    label: Auditee fiscal period <strong>start</strong> date for this submission
    field_type: date

  - id: auditee_fy_start_date
    label: Auditee fiscal period <strong>end</strong> date for this submission
    field_type: date
---
{%- extends "form.njk" -%}
{%- block form -%}
  {{
    component('usa-step-indicator', {
      currentStep: 2,
      totalSteps: 4
    })
  }}
  <form class="usa-form usa-form--large" id="check-eligibility">
    <fieldset class="usa-fieldset">
      <legend class="usa-legend usa-legend--large">Auditee information</legend>
      <p>
        <abbr
          title="required"
          class="usa-hint usa-hint--required"
          >*</abbr
        >Indicates a required field.
      </p>
      {% for i in inputs %}
        {% if i.field_type == "text" %}
          {{
            component('usa-input', {
              label: i.label,
              id: i.id,
              required: i.required,
              errorMessage: o.error_message
            })
          }}
        {% elif i.field_type == "date" %}
          {{
            component('usa-date-picker', {
              label: i.label,
              id: i.id,
              required: i.required,
              errorMessage: o.error_message
            })
          }}
        {% endif %}
      {% endfor %}
      </fieldset>
      <ul class="usa-button-group">
        <li class="usa-button-group__item">
          <a href="javascript:void(0);" class="usa-button usa-button--outline">
            Cancel
          </a>
        </li>
        <li class="usa-button-group__item">
          <button class="usa-button" id="continue">Continue</button>
        </li>
      </ul>
  </form>
{%- endblock -%}
