---
title: Submission Form

sidenav:
  links:
    - text: General information
      href: '#general-information'
      current: true
      links:
        - text: Fiscal period dates
          href: '#fiscal-period-dates'
        - text: Type of uniform guidance audit
          href: '#audit-type'
        - text: Audit period covered
          href: '#audit-period'
        - text: Auditee identification numbers
          href: '#auditee-identification-numbers'
        - text: Auditee information
          href: '#auditee-information'
        - text: Primary Auditor Information
          href: '#primary-auditor-information'
    - text: Federal awards
      href: /
    - text: Notes to SEFA
      href: /
    - text: Audit Information
      href: /
    - text: Findings text
    - text: CAP text
    - text: Additional EINs
    - text: Additional UEIs
    - text: Secondary auditors
    - text: Finalize
      href: /

fieldsets:
  - group: fiscal-period-dates
    legend: Fiscal Period Dates
    inputs:
      - field_type: text
        id: auditee_fiscal_period_start
        label: Fiscal period start date
        disabled: true
        data_attribute: 'report.auditee_fiscal_period_start'
      - field_type: text
        id: auditee_fiscal_period_end
        label: Fiscal period end date
        disabled: true
        data_attribute: 'report.auditee_fiscal_period_end'
  - group: audit-type
    legend: Type of uniform guidance audit
    required: true
    inputs:
      - field_type: radio
        group: audit_type
        bind: 'report.audit_type'
        options:
          - label: Single Audit
            id: single-audit
            value: single-audit
          - label: Program-Specific Audit
            id: program-specific-audit
            value: program-specific-audit
        validations:
          - operation: not-null
            error_message: This field is required
  - group: audit-period
    legend: Audit period covered
    required: true
    inputs:
      - field_type: radio
        group: audit_period_covered
        bind: 'report.audit_period_covered'
        options:
          - label: Annual
            id: audit-period-annual
            value: annual
          - label: Biennial
            id: audit-period-biennial
            value: biennial
          - label: Other
            id: audit-period-other
            value: other
        validations:
          - operation: not-null
            error_message: This field is required
  - group: auditee-identification-numbers
    legend: Auditee identification numbers
    inputs:
      - field_type: text
        label: Auditee Employer Identification Number (EIN)
        required: true
        id: auditee_ein
        data_attribute: 'report.auditee_ein'
        validations:
          - operation: not-null
            error_message: This field is required
      - field_type: checkbox
        label: By checking this box, I verify that the Auditee EIN is NOT a social security number.
        id: ein_not_an_ssn_attestation
        bind: 'report.ein_not_an_ssn_attestation'
        validations:
          - operation: not-null
            error_message: EIN may not be a social security number
      - field_type: radio
        label: Are multiple EINs covered in this report?
        group: multiple_eins_covered
        required: true
        bind: 'report.multiple_eins_covered'
        options:
          - label: Yes
            id: multiple-eins-yes
            value: true
          - label: No
            id: multiple-eins-no
            value: false
        validations:
          - operation: not-null
            error_message: This field is required
      - field_type: text
        label: Auditee Unique Entity Identifier (UEI)
        id: auditee_uei
        disabled: true
        data_attribute: 'report.auditee_uei'
      - field_type: radio
        label: Are multiple UEIs covered in this report?
        group: multiple_ueis_covered
        required: true
        bind: 'report.multiple_ueis_covered'
        options:
          - label: Yes
            id: multiple-ueis-yes
            value: True
          - label: No
            id: multiple-ueis-no
            value: False
        validations:
          - operation: not-null
            error_message: This field is required
  - group: auditee-information
    legend: Auditee information
    inputs:
      - field_type: text
        label: Auditee name
        disabled: true
        id: auditee_name
        data_attribute: 'report.auditee_name'
      - field_type: fieldset
        legend: Auditee address
        required: true
        inputs:
          - field_type: text
            label: Street
            id: auditee_address_line_1
            disabled: true
            data_attribute: 'report.auditee_address_line_1'
          - field_type: text
            label: City
            id: auditee_city
            disabled: true
            data_attribute: 'report.auditee_city'
          - field_type: text
            label: State
            id: auditee_state
            disabled: true
            data_attribute: 'report.auditee_state'
          - field_type: text
            label: ZIP code
            id: auditee_zip
            disabled: true
            data_attribute: 'report.auditee_zip'
      - field_type: fieldset
        legend: Auditee contact
        inputs:
          - field_type: text
            label: Name
            id: auditee_contact_name
            disabled: true
            data_attribute: 'report.auditee_contact_name'
          - field_type: text
            label: Title
            id: auditee_contact_title
            disabled: true
            data_attribute: 'report.auditee_contact_title'
      - field_type: text
        label: Auditee telephone
        id: auditee_phone
        disabled: true
        data_attribute: 'report.auditee_phone'
      - field_type: select
        label: Auditee e-mail
        required: true
        id: auditee_email
        data_attribute: '{contacts: report.auditee_contacts}'
        validations:
          - operation: not-null
            error_message: This field is required
  - group: primary-auditor-information
    legend: Primary Auditor Information
    inputs:
      - field_type: text
        label: Audit firm/organization name
        required: true
        id: auditor_firm_name
        data_attribute: 'report.auditor_firm_name'
        validations:
          - operation: not-null
            error_message: This field is required
      - field_type: text
        label: Audit firm/organization EIN
        required: true
        id: auditor_ein
        data_attribute: 'report.auditor_ein'
        validations:
          - operation: not-null
            error_message: This field is required
      - field_type: checkbox
        label: By checking this box, I verify that the Auditor EIN is NOT a social security number.
        id: auditor_ein_not_an_ssn_attestation
        bind: 'report.auditor_ein_not_an_ssn_attestation'
        validations:
          - operation: not-null
            error_message: EIN may not be a social security number
      - field_type: fieldset
        legend: Audit firm/organization address
        required: true
        inputs:
          - field_type: text
            label: Street
            required: true
            id: auditor_address_line_1
            data_attribute: 'report.auditor_address_line_1'
            validations:
              - operation: not-null
                error_message: This field is required
          - field_type: text
            label: City
            required: true
            id: auditor_city
            data_attribute: 'report.auditor_city'
            validations:
              - operation: not-null
                error_message: This field is required
          - field_type: text
            label: State
            required: true
            id: auditor_state
            data_attribute: 'report.auditor_state'
            validations:
              - operation: not-null
                error_message: This field is required
          - field_type: text
            label: ZIP code
            required: true
            id: auditor_zip
            data_attribute: 'report.auditor_zip'
            validations:
              - operation: not-null
                error_message: This field is required
          - field_type: fieldset
            legend: Primary auditor contact
            required: true
            inputs:
              - field_type: text
                label: Name
                required: true
                id: auditor_contact_name
                data_attribute: 'report.auditor_contact_name'
                validations:
                  - operation: not-null
                    error_message: This field is required
              - field_type: text
                label: Title
                required: true
                id: auditor_contact_title
                data_attribute: 'report.auditor_contact_title'
                validations:
                  - operation: not-null
                    error_message: This field is required
          - field_type: text
            label: Primary auditor telephone
            required: true
            id: auditor_phone
            data_attribute: 'report.auditor_phone'
            validations:
              - operation: not-null
                error_message: This field is required
          - field_type: select
            label: Primary auditor e-mail
            required: true
            id: auditor_email
            data_attribute: '{contacts: report.auditor_contacts}'
submit: Save & continue to next section
---
{%- extends "form.njk" -%}
{%- block form -%}
<is-land on:visible>
  <div class="grid-container" x-data="$store">
    <dl class="grid-row grid-gap audit-metadata">
      <div class="tablet:grid-col">
        <dt>Auditee entity name</dt>
        <dd x-text="report.auditee_name" data-test-id="auditeeName"></dd>
      </div>
      <div class="tablet:grid-col">
        <dt>Report ID</dt>
        <dd x-text="report.report_id" data-test-id="reportId"></dd>
      </div>
      <div class="tablet:grid-col">
        <dt>Version</dt>
        <dd>1</dd>
      </div>
    </dl>
    <div class="grid-row grid-gap">
      <nav class="desktop:grid-col-3 sticky-nav" aria-label="Secondary navigation">
        {{
          component('usa-sidenav', {
            links: sidenav.links,
            baseUrl: config.baseUrl
          }) 
        }}
      </nav>
      <form class="desktop:grid-col-9 usa-form usa-form--large sf-sac" id="general-info">
        <fieldset class="usa-fieldset">
          <legend class="usa-legend usa-legend--large" id="general-information">General information</legend>
          <p>
            <abbr
              title="required"
              class="usa-hint usa-hint--required"
              >*</abbr
            >Indicates a required field.
          </p>
          {%- for f in fieldsets -%}
            {{ 
              component('sac-fieldset', {
                fieldset: f
              }) 
            }}
          {%- endfor -%}

          <button class="usa-button" id="continue">
            {{ submit }}
          </button>
        </fieldset>
      </form>
  </div>

  <script src="{{ config.baseUrl }}assets/js/sf-sac.js"></script>
</is-land>
{%- endblock -%}
