---
title: Submission Form

sidenav:
  links:
    - text: General information
      href: #general-information
      current: true
      links:
        - text: Fiscal period dates
          href: '#fiscal-period-dates'
        - text: Type of uniform guidance audit
          href: '#audit-type'
        - text: Audit period covered        
          href: '#audit-period'
        - text: Auditee identification numbers
          href: '#auditee-identification-numbers'
        - text: Auditee information
          href: '#auditee-information'
        - text: Primary Auditor Information
          href: '#primary-auditor-information'

fieldsets:
  - group: fiscal-period-dates
    legend: Fiscal Period Dates
    inputs:
      - field_type: date
        id: fy-start
        label: Fiscal period start date
        required: true
      - field_type: date
        id: fy-end
        label: Fiscal period end date
        required: true
  - group: audit-type
    legend: Type of uniform guidance audit
    required: true
    inputs:
      - field_type: radio
        options:
          - label: Single Audit
            id: audit-type-single 
            value: single
          - label: Program-Specific Audit
            id: audit-type-program-specific
            value: single
  - group: audit-period
    legend: Audit period covered
    required: true
    inputs:
      - field_type: radio
        options:
          - label: Annual
            id: audit-period-annual
            value: annual
          - label: Biennial
            id: audit-period-biennial
            value: biennial
          - label: Other
            id: audit-period-other
            value: other
  - group: auditee-identification-numbers
    legend: Auditee identificaion numbers
    inputs:
      - field_type: text
        label: Auditee Employer Identification Number (EIN)
        required: true
        id: auditee-ein
      - field_type: checkbox
        label: By checking this box, I verify that the Auditee EIN is NOT a social security number.
        id: ein-not-ssn
      - field_type: radio
        label: Are multiple EINs covered in this report?
        id: multiple-eins
        required: true
        options:
          - label: Yes
            id: multiple-eins-yes
            value: multiple-eins-yes
          - label: No
            id: multiple-eins-no
            value: multiple-eins-no
      - field_type: text
        label: Auditee Unique Entity Identifier (UEI)
        required: true
        id: auditee-uei
      - field_type: radio
        label: Are multiple UEIs covered in this report?
        id: multiple-ueis
        required: true
        options:
          - label: Yes
            id: multiple-ueis-yes
            value: multiple-ueis-yes
          - label: No
            id: multiple-ueis-no
            value: multiple-ueis-no
  - group: auditee-information
    legend: Auditee information
    inputs:
      - field_type: text
        label: Auditee name
        required: true
        id: auditee-name
      - field_type: fieldset
        legend: Auditee address
        required: true
        inputs:
          - field_type: text
            label: Street
            required: true
            id: auditee-address-street
          - field_type: text
            label: City
            required: true
            id: auditee-address-city
          - field_type: text
            label: State
            required: true
            id: auditee-address-state
          - field_type: text
            label: ZIP code
            required: true
            id: auditee-address-zip
      - field_type: fieldset
        legend: Auditee contact
        inputs:
          - field_type: text
            label: Name
            required: true
            id: auditee-contact-name
          - field_type: text
            label: Title
            required: true
            id: auditee-contact-title
      - field_type: text
        label: Auditee telephone
        required: true
        id: auditee-telephone
      - field_type: select
        label: Auditee e-mail
        required: true
        id: auditee-email
  - group: primary-auditor-information
    legend: Primary Auditor Information
    inputs:
      - field_type: text
        label: Audit firm/organization name
        required: true
        id: audit-firm-name
      - field_type: text
        label: Audit firm/organization EIN
        required: true
        id: audit-firm-ein
      - field_type: checkbox
        label: By checking this box, I verify that the Auditor EIN is NOT a social security number.
        id: auditor-ein-not-ssn
      - field_type: fieldset
        legend: Audit firm/organization address
        required: true
        inputs:
          - field_type: text
            label: Street
            required: true
            id: auditor-address-street
          - field_type: text
            label: City
            required: true
            id: auditor-address-city
          - field_type: text
            label: State
            required: true
            id: auditor-address-state
          - field_type: text
            label: ZIP code
            required: true
            id: auditor-address-zip
          - field_type: fieldset
            legend: Primary auditor contact
            required: true
            inputs:
              - field_type: text
                label: Name
                required: true
                id: auditor-contact-name
              - field_type: text
                label: Title
                required: true
                id: auditor-contact-title
          - field_type: text
            label: Primary auditor telephone
            required: true
            id: auditor-telephone
          - field_type: select
            label: Primary auditor e-mail
            required: true
            id: auditor-email
            options:
              - value: test
                label: Test Value
submit: Save & continue to next section
---
{%- extends "form.njk" -%}
{%- block form -%}
<div class="grid-container">
  <div class="grid-row grid-gap">
    <nav class="desktop:grid-col-3 sticky-nav" aria-label="Secondary navigation">
      {{
        component('usa-sidenav', {
          links: sidenav.links
        }) 
      }}
    </nav>
    <form class="desktop:grid-col-9 usa-form usa-form--large sf-sac" id="general-info">
      <fieldset class="usa-fieldset">
        <legend class="usa-legend usa-legend--large">General information</legend>
        <p>
          <abbr
            title="required"
            class="usa-hint usa-hint--required"
            >*</abbr
          >Indicates a required field.
        </p>
        {%- for f in fieldsets -%}
          {{ 
            component('sac-fieldset', {
              fieldset: f
            }) 
          }}
        {%- endfor -%}
      </fieldset>
    </form>
</div>
<script src="{{ config.baseUrl }}assets/js/sf-sac.js"></script>
{%- endblock -%}