---
title: My audit submissions
heading: Start a new submission
instructions: To get started do x, y, z.
confirm:
    required: true
    id: confirm-terms-checkbox
    label: I agree to the above terms and conditions.
    cypress_selector: confirm-terms-checkbox
    validations:
      - operation: not-null
        error_message: You must check this box
submit: Start a new submission
---
{%- extends "form.njk" -%}
{%- block form -%}
  <div class="grid-container">
    <h2>{{heading}}</h2>

    <p>{{instructions}}</p>

    <form class="usa-form usa-form--large" id="start-new-submission">
      {{ 
        component('usa-checkbox', {
          label: confirm.label,
          id: confirm.id,
          value: confirm.value,
          required: confirm.required,
          validations: confirm.validations,
          error_message: confirm.error_message,
          cypress_selector: confirm.cypress_selector
        }) 
      }}

    <ul class="usa-button-group">
      <li class="usa-button-group__item">
        <button class="usa-button" data-cy="submit">
          {{ submit }}
        </button>
      </li>
    </ul>
    </form>
  </div>
  <script src="{{ config.baseUrl }}assets/js/check-terms.js"></script>
{%- endblock -%}
