@use 'uswds-core' as *;

.usa-form {
  padding-bottom: 2rem;
}

.question {
  margin-bottom: 3rem;

  .usa-legend {
    font-weight: 700;
  }
}

.usa-radio .usa-error-message {
  display: none;
}

.usa-radio--error {
  .usa-error-message {
    display: block;
  }

  .usa-radio__input:checked + [class*='__label']::before {
    background-color: #b50909;
    box-shadow: 0 0 0 2px #b50909, inset 0 0 0 2px #fff;
  }
}

a.usa-button {
  text-decoration: none;
}

.audit-submission-access {
  form {
    max-width: 100%;
  }

  .grid-container {
    padding-left: 0;
  }

  ul.usa-error-message {
    display: none;
  }

  .usa-form-group--error ul.usa-error-message {
    display: block;
  }
}

.auditee-information {
  background-color: #f0f0f0;
  max-width: 100%;

  .grid-row {
    margin-left: auto;
    margin-right: auto;
    max-width: 64em;
  }

  form {
    background-color: #fff;
  }

  form,
  .ueid-explanation {
    margin: 2rem;
    padding: 2rem;
  }

  .ueid-explanation > h2 {
    font-family: 'Source Sans Pro Web', 'Helvetica Neue', Helvetica, Roboto,
      Arial, sans-serif;
  }

  ul.usa-error-message {
    display: none;
  }

  .usa-form-group--error ul.usa-error-message {
    display: block;
  }

  .validate-uei {
    margin-top: 0;
  }

  .validate-uei button {
    margin-top: 1em;
  }

  #uei-success {
    margin-top: .5em;

    & svg {
      fill: #538200;
      display: inline-block;
      vertical-align: middle;
    }
  }
}

.delete-contact {
  margin: 0 !important;
  margin-top: auto !important;
  margin-bottom: .5rem !important;
  padding: 0 !important;

  .usa-icon {
    fill: #d83933;
    height: 1.5em;
    width: 1.5em;
  }
}

/* stylelint-disable */
#auditee_name {
  cursor: not-allowed;
}

#auditee_name-error-message {
  display: none;
}
/* stylelint-enable */

@media (min-width: 64em) {
  .sticky-nav {
    align-self: flex-start;
    position: sticky;
    top: 0;

    .usa-sidenav a:not([href]),
    .usa-sidenav a:not([href]):hover, 
    .usa-sidenav a:not([href]):active, 
    .usa-sidenav a:not([href]):visited {
      color: color('base-light');
      cursor: not-allowed;
    }

    a:not(.usa-button) {
      display: flex;
      width: 100%;

      svg {
        align-self: center;
        fill: color('base');
        margin-left: auto;
      }
    }

    .usa-sidenav .usa-current { font-weight: bold;}
  }
}

.sf-sac {
  fieldset:not(.radio) {
    margin-bottom: units(4);

    fieldset { 
      margin-top: units(4);

      legend {
        font-size: size('sans', 'lg');
      }

      .usa-form-group {
        margin-top: units(2);
      }

      fieldset {
        &.radio {
          legend {
            font-size: size('sans', 'md');
          }

          & + .usa-form-group {
            margin-top: units(4);
          }
        }

        label:not(.usa-radio__label) {
          color: color('gray-cool-50');
        }
      }
    }
  }
}