@use '_form.scss';

// Prototyping styles

.usa-card__img img {
  font-size: 0;
  min-height: 8rem;
}

.usa-hero {
  background-color: rgb(240, 240, 240);
  background-image: none;
  min-height: 16rem;
}
